@dim: 100px;
@background: red;


.tester{
    display: block;
    width: @dim;
    height: @dim;
    background-color: @background;
    color: white;
}

#main-nav{
    list-style-type: none;

    li{
        display: inline-block;
        padding: 10px;
        margin: 0 5px;

        border-radius: 5px;
    }

    .selected{
        background-color: #eee;
    }
}