@highlight-dark: #990909;
@highlight-med: #cc8329;
@highlight-light: #f5ee25;
@shadow: rgba(0,0,0,0.3);

@0: 0px;
@xs: 4px;
@s: 8px;
@m: 16px;
@l: 32px;
@xl: 64px;

@font-main-header: 'Courier', 'Arial', sans-serif;


@media screen and (min-width: 994px){
    .menu-toggle{
        display: none;
    }

    #main-nav{
        li{
            display: inline-block;
            padding: 10px;
            margin: 0 5px;
    
            border-radius: 5px;
    
            text-decoration: none!important;
            color: rgba(0, 0, 0, 0.3);

            a{
                display: block;
            }
        }

        li:hover:not(.selected){
            background-color: #ddd;
            cursor: pointer;
        }
    }
}


html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #eee;
    font-family: @font-main-header;
}

a {
    text-decoration: inherit;
    color: inherit;
}

#header-content{
    display: flex;
    flex-direction: row; 

    #main-title{
        flex-grow: 1; 
        margin: @m; 
    }

    #main-nav{
        list-style-type: none;
    
        margin: @s;
        padding: 0;
        float: right; 

        li{
            a{
                display: block;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }

        li.selected{
            color: white;
            background-color: @highlight-dark;
        }

        li:not(.selected):hover{
            background-color: @shadow; 
            cursor: pointer; 
        }
    }
}

#splash-content{
    background-color: #f0f;
    background: #f0f url('../res/splash1.jpg') no-repeat fixed;
    background-size: cover;
    background-position: 0% -40%;

    width: 100vw;
    height: 60vh;
}

#body-content{
    background-color: @highlight-light;
    display: flex;
    flex-direction: row;
    align-content: stretch;

    #left-nav{
        width: 20vw;

        
    }

    #main-content{
        flex-grow: 1;
    }

    #right-nav{
        width: 10vw;
    }
}

#footer-content{

}


@media screen and (min-width: 480px){
    .menu-toggle{
        display: block;
        width: @l;
        height: @l;
        margin: @m;
    }

    .menu-toggle .menu-icon{
        display: block; 
        width: 100%;
        height: 100%;
    }

    .menu-toggle.selected .menu-icon{
        fill: black;
    }
    
    .hamburger-menu{
        display: none;
    }

    .menu-toggle.selected + .hamburger-menu{
        display: block;

        position: absolute; 
        top: @l + (@m * 2);
        left: 0;

        width: 100vw;

        margin: 0!important; 

        background-color: white;

        li{
            display: block;
            background-color: white;

            border: 1px solid @shadow;
            border-radius: 0 0 1px 0;

            width: 100vw - @0;
            padding: @m;

            text-align: center;
        }
    }
}
